:root {
  --navy: #2F4156;
  --teal: #567C8D;
  --beige: #F5F1EB;
  --sky: #C8D9E6;
  --white: #FFFFFF;    
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 5rem;
}

h1, h2, h3 {
    font-weight: 500;
}

.navbar {
    background-color: var(--white);
}

.navbar-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-name {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--navy);
}

.navbar-links {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--navy);
    transition: color 0.2s ease;
}

.navbar-links a:hover {
    color: var(--teal);
}

.hero {
    padding: 5rem 0;
    background-color: var(--white);
}

.hero-container {
    min-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 4rem;
    align-items: center;
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--teal);
    margin-bottom: 1rem;
}

.hero-text h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--teal);
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--navy);
    max-width: 500px;
}

.hero-links {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.hero-links a {
    text-decoration: none;
    color: var(--teal);
    font-weight: 500;
}

.hero-image img {
    width: 100%;
    max-width: 280px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .hero-text p{
        margin: 0 auto;
    }
    .hero-links {
        justify-content: center;
    }
    .hero-image img {
        margin: 0 auto;
    }
}